langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph

langchain-groq
groq

langchain-huggingface
sentence-transformers
transformers
huggingface-hub
torch

faiss-cpu
pypdf

Flask
gunicorn

python-dotenv

numpy
pandas
scikit-learn
scipy

tqdm
requests
typing-extensions
pydantic
pydantic-settings
SQLAlchemy